<h1>New Link</h1>

<form action='/links' method='post'>
<label>URL:
<input type='text' name='url'>
</label>
<label>Title:
<input type='text' name='title'>
</label>
<label>Tag:
<input type='text' name='tag'>
</label>
<input type='submit' value='Create link'>
</form>